.{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color:whitesmoke;
}
h1{
    font-size: 3rem;
    font-weight: 50;
    margin:1rem 0 3rem;
    text-align:center;
    color:navy ;
    font-family: 'Yatra One', cursive;
}
.styling{
    font-size:800;
    color: lightgreen;
}
.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input_div{
    padding: 0.5rem 1rem;
    height:50px;
    outline:none;

}