<!DOCTYPE html>
<html>

<head>
    <title>My home page</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <h1 class="heading">Welcome!</h1>
    <div>
        <h2 class="ss">Checkout the reviews of your favourite book!</h2>
    </div>
    <div>
        <h3 class="ss">Please register youself if you are a new user or else login</h3>
    </div>
    <p class="dv">
        <button name="reg" type="submit" class="
            registerbtn"> <a href="{{url_for('reg')}}">register</a></button>
        <button name="login" type="submit" class="registerbtn"><a href="{{url_for('login')}}">login</a></button>
    </p>
</body>

</html>