<!DOCTYPE html>
<html>


<head>
    <title>My Main page</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <h2 id="heading">Search for your favourite Book here!</h2>
    <ul class="lis">
        <li><a href="http://127.0.0.1:5000/admin">Admin</a></li>
        <li><a href="http://127.0.0.1:5000/logout">Logout</a></li>
    </ul>
    <div class="search-container">
        <form>
            <input type="text" placeholder="Search here" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- <p class="dv">
        <button name="reg" type="submit" onclick="window.location.href='http://127.0.0.1:5000/logout'" class="
                registerbtn">Logout</button>
    </p> -->
</body>

</html>